:root {
  --prymary-text-color: #212121;
  --prymary-bg-color: #ffffff;
  --active-color: #2196f3;
  --hero-button-hover: #188ce8;
  --border-color: #eeeeee;
  --header-contacts: #757575;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --button-background: #f5f4fa;
  --footer-background: #2f303a;
  --button-shadow: rgba(0, 0, 0, 0.15);
  --box-shadow-1: #0000001f;
  --box-shadow-2: #00000024;
  --box-shadow-3: #00000033;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--prymary-text-color);
  background-color: var(--prymary-bg-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* Header */

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  outline: 2px dotted tomato;
}

.page-header .container {
  display: flex;
  align-items: center;
}

/* header logo */

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--prymary-text-color);
}

.logo {
  color: var(--active-color);
}

.logo-color {
  color: var(--prymary-text-color);
}

.logo-color-second {
  color: var(--prymary-bg-color);
}

/* header nav-list */

.navigation {
  color: var(--prymary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation.current,
.navigation:focus,
.navigation:hover {
  color: var(--active-color);
}

.page-header .nav-list {
  display: flex;
  margin-left: 93px;
}

.nav-list .link.navigation {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.list.nav-list .items:not(:last-child) {
  margin-right: 50px;
}

/* header contacts */

.header-contacts {
  color: var(--header-contacts);
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
}

.header-contacts:hover,
.header-contacts:focus,
.footer-adress:hover,
.footer-adress:focus,
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--active-color);
}

.page-header .contact {
  display: flex;
  margin-left: auto;
}

.contact.list .items:not(:last-child) {
  margin-right: 50px;
}

.contact.list {
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
  padding-left: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* INDEX PAGE */

/* hero */

.list .button,
.list .button.active {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.hero {
  background-color: var(--footer-background);
  align-items: center;
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--prymary-bg-color);

  margin-top: 0;
  margin-bottom: 30px;
}

.hero-button {
  cursor: pointer;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--prymary-bg-color);
  background-color: var(--active-color);
  border-radius: 4px;

  min-width: 200px;
  height: 50px;
  padding: 10px 32px;

  box-shadow: 0px 4px 4px var(--button-shadow);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hero-button-hover);
}

/* Benefits */

.benefits .container {
  padding-top: 93px;
  padding-bottom: 93px;
}

.benefits-list {
  display: flex;
}

.benefits-list .items:not(:last-child) {
  margin-right: 30px;
}

.benefits-title {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--prymary-text-color);

  margin-top: 0;
  margin-bottom: 20px;
}

.benefits-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--header-contacts);

  margin-top: 0;
  margin-bottom: 0;
}

/* Doing */

.container.doing {
  padding-bottom: 94px;
}

.doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 50px;
}

.doing-list {
  display: flex;
}

.doing-list .items:not(:last-child) {
  margin-right: 30px;
}

/* team */

.team {
  background-color: var(--button-background);
}

.team .container {
  padding-top: 94px;
}

.team-child {
  background: var(--prymary-bg-color);
  box-shadow: 0px 1px 3px var(--box-shadow-1), 0px 1px 1px var(--box-shadow-2),
    0px 2px 1px var(--box-shadow-3);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
}

.team-child:not(:last-child) {
  margin-right: 30px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: var(--prymary-text-color);
  margin-top: 0;
  margin-bottom: 50px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--prymary-text-color);
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--header-contacts);
  margin-top: 0;
  margin-bottom: 0;
}

.team-list {
  display: flex;
}

/* filter */
.button {
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;

  background: var(--button-background);
  border-radius: 4px;
  border-width: 0px;

  cursor: pointer;
}

.active,
.button:focus,
.button:hover {
  color: var(--prymary-bg-color);
  background: var(--active-color);
}

.name-of-project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.type-of-project {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--header-contacts);
}

/* footer */

.footer-bgc .logo.link {
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 60px;
}

.footer-list-items:not(:last-child) {
  margin-bottom: 9px;
}

.footer-bgc .container {
  padding-bottom: 60px;
}

.footer-bgc {
  background-color: var(--footer-background);
}

.footer-adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--prymary-bg-color);
}

.footer-contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
}

/* PORTFOLIO PAGE */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.border {
  border: 1px solid var(--border-color);
  box-sizing: border-box;
}
